
.logo {
    float: left;
}
h1 {
    display:flex;
    align-items: right;
}
nav ul {
    display:flex; /* Afficher les éléments de la liste horizontalement */
    list-style: none; /* Supprimer les puces de la liste */
    margin: 0;
    padding:0;
}
nav li {
    margin-right: 15px; /* Espace entre les éléments du menu */
}
nav a {
    text-decoration: none; /* Supprimer la soulignement par défaut des liens */
    color: pink; /* Couleur du texte des liens */
    font-weight: bold; /* Gras pour mettre en évidence les liens */
}
nav { 
   
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligne les éléments au début et à la fin */ 
}
h1 {
    color: aliceblue;
    font-size: larger;
}